<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  </head>
  <body>



    <div class="container" id="h">
      <h1>
          Hello
      </h1>


    </div>
    <div class="container">
      <input type="text" name="n" onkeyup="go();" >
<input type="color" name="c" onchange="go();">
    </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
// $('#btn').click(function(){
// var name = $('input[name="n"]').val();
//
// });

function go()
{
 var name = $('input[name="n"]').val();
  var color = $('input[name="c"]').val();

  console.log(color);
//alert(v);
  $.ajax({
    url:'/ajaxcall',
    type:'GET',
    data:'name='+name+'&color='+color.substring(1),
    success:function(r){
      $('#h').html(r);
    }
  });
}
</script>
  </body>
</html>
